.heading__two {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 75px;
}
.heading__two h1 {
  font-size: 60px;
}
.heading__two p {
  padding-left: 250px;
  padding-right: 250px;
}

.wrapper{
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
  justify-content: space-evenly;
  gap: 30px;
  grid-auto-columns: auto;
}
/* !st card */
.one:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}


.wrapper .one:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
}

.one {
  background-image: url(../../assets/portfolio-1.jpg);
    padding-top: 180px;
    border-radius: 5px;
    min-height: 600px;
    margin-bottom: 30px;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    transition: all 0.4s ease-in-out;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 0;
    z-index: 1;
}
.one:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}

/* second card */

.two:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
  transition: all 0.4s ease-in-out;
}


.wrapper .two:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.two {
  background-image: url(../../assets/portfolio-2.jpg);
  padding-top: 180px;
  border-radius: 5px;
  min-height: 600px;
  margin-bottom: 30px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0;
  z-index: 1;
}
.two:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}

.three:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}


.wrapper .three:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* Thied Card */
.three {
  background-image: url(https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg);
  padding-top: 180px;
  border-radius: 5px;
  min-height: 600px;
  margin-bottom: 30px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0;
  z-index: 1;
}
.three:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}


/* fourth card */

.four:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}


.wrapper .four:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.four{
  background-image: url(../../assets/portfolio-3.jpg);
  padding-top: 180px;
  border-radius: 5px;
  min-height: 600px;
  margin-bottom: 30px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0;
  z-index: 1;
}
.four:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}


/* fifth card */
.five:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}


.wrapper .five:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.five {
  background-image: url(https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg);
  padding-top: 180px;
  border-radius: 5px;
  min-height: 600px;
  margin-bottom: 30px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0;
  z-index: 1;
}
.five:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}

/* sixth card */



.six:hover  {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}


.wrapper .six:before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.six {
  background-image: url(https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg);
  padding-top: 180px;
  border-radius: 5px;
  min-height: 600px;
  margin-bottom: 30px;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin: 0;
  z-index: 1;
}
.six:hover ::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0051;
  background-image: linear-gradient(#f6004c 10%, #000);
  opacity: 0.30;
  content: "";
  z-index: -2;
}


.content {
  margin-top: 200px;
  text-align: center;
}
.content p:hover {
  margin-bottom: 15px;
  color: aliceblue;
  z-index: 2;
}
.content p{
padding-bottom: 15px;
}
.content h1 {
  margin-bottom: 55px;

}
.butt__on {
  text-align: center;
}

.rn-btn:hover {
  background-color: #ff0051;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  border-style: none;
  transform: translateY(-5px);
  transform: scaleY(-3px);
  transition: all 0.4s ease-in-out;
}

.rn-btn {
  z-index: 1;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  border-style:groove;
  border-color: white;
  position: relative;
  border-radius: 5px;
 
}


.view__buttton {
  text-align: center;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 40px;
  justify-content: center;
  margin-left: -150px;
}

.view__more {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  background-color: #ff0051;
  border-radius: 5px;
  border-style: none;
  position: absolute;
  color: white;
  font-weight: 600;
  align-items: center;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  cursor: pointer;
}

.view__more:hover {
  border-style: double;
  border-color: #ff0051;
  background-color: transparent;
  color: #ff0051;
  transform: translateY(-5px); /* Lift the button by 5 pixels on hover */
}
@media screen and (max-width: 1330px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .heading__two p {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading__two p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 760px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading__two p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 460px) {
  .wrapper {
    padding: 0px;
  }
  .view__more:hover {
    border-style: double;
    border-color: #ff0051;
    background-color: transparent;
    color: #ff0051;
    transform: translateY(-5px); /* Lift the button by 5 pixels on hover */
  }

}